$maincolor: #F7F6F6;

.mainContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 600px;
    width: 600px;
    background-color: $maincolor;
    margin: 15px;
}

.inputForm {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.btnContainer {
    display: flex;
    justify-content: space-around;
}
.totalSum {
    font-size: 30px;
}

.textInput {
    outline: none !important;
    border: none !important;
    font-size: 20px;
    height: 30px;
    margin: 15px;
    background-color: $maincolor;
    border-bottom: 1px solid black !important;
}

.orderBtn {
    width: 200px;
    height: 40px;
    outline: 2px solid #313131;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.orderBtn span {
    user-select: none;
}